<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- 注意: 这是html文件，不是JSP文件 -->
    <script src="../plugins/angularjs/angular.min.js" type="text/javascript"></script>

	<!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js" ></script>
	<link  rel="stylesheet"  href="../plugins/angularjs/pagination.css"   />
	<!-- 分页组件结束-->


	<script type="text/javascript">

		//创建 模块
		var app = angular.module("pinyougouModule",['pagination']);

//		 创建控制器
		app.controller("brandController",function ($scope,$http) {

		    $scope.findAll = function () {
					$http.get("../brand/findAll.do").success(function (response) {

//					     查询成功后，对数据的处理
						$scope.branList = response;

                    });
            }

//           分页控件的信息
            $scope.paginationConf = {
                currentPage : 1,
                totalItems :10,
                itemsPerPage :10,
                perPageOptions :[10,20,30,40,50],
                onChange : function(){
                    $scope.reloadList(); //调用刷新列表方法
				}
			}

			//刷新列表
			$scope.reloadList = function () {

                $scope.searchBrands($scope.paginationConf.currentPage,$scope.paginationConf.itemsPerPage);
//                $scope.findPage($scope.paginationConf.currentPage,$scope.paginationConf.itemsPerPage);
            }

//			分页查询
			$scope.findPage = function (page,size) {
                $http.get("../brand/findPage.do?page="+page+"&&size="+size).success(function (response) {
//					     查询成功后，对数据的处理
                    $scope.branList = response.rows;  //当前页的结果
                    $scope.paginationConf.totalItems = response.total; //总记录数
                });
            }

//          添加品牌
			$scope.saveBrand = function () {
				var  methodName = "addBrand";
				if($scope.entity.id != null) {
                    methodName = "update";
				}

				$http.post("../brand/"+methodName+".do",$scope.entity).success(function (response) {

				    if (response.status == 200){
                        $scope.reloadList();   //刷新 数据列表
					}else{
				        alert(response.message)
					}

                });
            }

//			查询数据
			$scope.findOne = function (id) {

                $http.get("../brand/findOne.do?id="+id).success(function (response) {

				    $scope.entity = response;

                });
            }

            $scope.ids = [];  //创建一个集合

//          点击复选框，更新id集合中的数据
			$scope.updateSelectedId = function ($event,id) {
				if($event.target.checked){
					//向集合中添加数据
					$scope.ids.push(id);
				}else{
				    //从集合中删除指定数据
					var index = $scope.ids.indexOf(id);
                    $scope.ids.splice(index,1);   //调用方法，从集合中删除数据，  参数说明：index 表示移除的位置   1 表示移除的个数
				}
            }

            // 点击删除按钮调用该方法，进行删除数据
			$scope.deleteBrandByIds = function () {
				$http.get("../brand/deleteBrandByIds.do?ids="+$scope.ids).success(function (response) {
					if(response.status == 200) {
						$scope.reloadList();  // 调用方法刷新页面
					}else{
					    alert(response.message);  //若未成功，弹出原因
					}
                });
            }

            $scope.searchBrand = {};  //初始化，searchBrand  让其为空
//           待条件的分页查询
			$scope.searchBrands = function (page,size) {
				// 待条件的分页查询
				$http.post("../brand/search.do?page="+page+"&&size="+size,$scope.searchBrand).success(function (response) {
					//设置分页信息
                    $scope.branList = response.rows;  //当前页的结果
                    $scope.paginationConf.totalItems = response.total; //总记录数
                });
            }

//            $scope.findAll();   //调用方法
        });


	</script>
</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougouModule" ng-controller="brandController"   >
  <!-- .box-body -->
                    <div class="box-header with-border">
                        <h3 class="box-title">品牌管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ng-click="entity={}" ><i class="fa fa-file-o"></i> 新建</button>
                                     	<!--  点击删除，执行删除方法 -->
                                        <button type="button" class="btn btn-default" title="删除" ng-click="deleteBrandByIds()" ><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
							             品牌名称:<input ng-model="searchBrand.name">     品牌首字母:<input ng-model="searchBrand.firstChar">       <button class="btn btn-default"  ng-click="reloadList()">查询</button>
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue"  />
			                              </th> 
										  <th class="sorting_asc">品牌ID</th>
									      <th class="sorting">品牌名称</th>									      
									      <th class="sorting">品牌首字母</th>									     				
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>

									  <!--   循环遍历 -->
									  <tr ng-repeat="brand in branList">
										   									<!--    复选框中，添加事件，点击后执行指定事件  -->
										  <td><input  type="checkbox"  ng-click="updateSelectedId($event,brand.id)"></td>
 										  <td>{{brand.id}}</td>
										  <td>{{brand.name}}</td>
										  <td>{{brand.firstChar}}</td>
										  <td class="text-center">
										  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"  ng-click="findOne(brand.id)"  >修改</button>
										  </td>
									  </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->

							<!--  分页控件 -->
							<tm-pagination conf="paginationConf" ></tm-pagination>
                        </div>
                        <!-- 数据表格 /-->
                     </div>
                    <!-- /.box-body -->
         
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">品牌编辑</h3>
		</div>
		<div class="modal-body">		
			<table class="table table-bordered table-striped"  width="800px">
		      	<tr>
		      		<td>品牌名称</td>
		      		<td><input  class="form-control" placeholder="品牌名称" ng-model="entity.name" >  </td>
		      	</tr>		      	
		      	<tr>
		      		<td>首字母</td>
		      		<td><input  class="form-control" placeholder="首字母" ng-model="entity.firstChar">  </td>
		      	</tr>		      	
			 </table>				
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="saveBrand()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
   
</body>
</html>